<div id="all">
    <app-notification></app-notification>
    <div
        *ngIf="waitService.someImportant()"
        style="
            position: fixed;
            justify-content: center;
            align-items: center;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: 9999;
            background-color: black;
            opacity: 80%;
        "
    >
        <mat-spinner></mat-spinner>
    </div>
    <app-nav></app-nav>
</div>
