<agm-map
    #agm
    (mapReady)="useNavionics && applyNavionics($event)"
    [latitude]="lat"
    [longitude]="lon"
    (mapRightClick)="onRightClick($event)"
    (mapClick)="handleMapClick()"
    (mapDblClick)="handleMapDblClick()"
    (zoomChange)="onZoomChanged($event)"
    [mapTypeId]="mapType"
    [usePanning]="true"
    [zoom]="zoom"
    [streetViewControl]="false"
    [minZoom]="2"
    [styles]="mapStyles"
    [gestureHandling]="'greedy'"
>
    <agm-marker
        #current
        *ngIf="currentLocation && permits?.wpEdit"
        class="current-loc-marker"
        [latitude]="currentLocation.latitude"
        [longitude]="currentLocation.longitude"
        [iconUrl]="{
            url: '../../../assets/currentloc.png',

            scaledSize: {
                width: 12,
                height: 12
            }
        }"
        ><agm-info-window #currentInfoWindow [isOpen]="true"
            ><mat-card
                ><button mat-button (click)="addCurrentLocation()">
                    Add Waypoint Here
                </button></mat-card
            ></agm-info-window
        ></agm-marker
    >
    <div *ngIf="!useClusters">
        <div *ngFor="let wp of waypointsOnMap || waypoints">
            <agm-marker
                #marker
                [markerDraggable]="permits?.wpEdit && dragMarkers"
                (dragStart)="dragStart($event, wp, marker)"
                (dragEnd)="dragEnd($event, wp, marker)"
                [latitude]="wp.latitude"
                [longitude]="wp.longitude"
                [label]="wp.name"
                (markerClick)="openInfoWindow(infoWindowNoClusters)"
            >
                <agm-info-window
                    [disableAutoPan]="false"
                    #infoWindowNoClusters
                    (infoWindowClose)="onInfoWindowClose()"
                >
                    <mat-card class="mat-card-info">
                        <mat-card-title
                            ><div
                                *ngIf="!waypointNameEdited"
                                (dblclick)="permits?.wpEdit && dblClickTitle(wp, $event)"
                            >
                                {{ wp.name }}
                            </div>

                            <input
                                *ngIf="waypointBeingEdited"
                                matInput
                                (input)="editedNameChange($event)"
                                (keydown)="inputKeyDown($event)"
                                (blur)="inputBlur()"
                                type="text"
                                [(ngModel)]="waypointNameEdited"
                            />
                            <br />
                            <sub *ngIf="!waypointNameValid">Name invalid</sub>
                        </mat-card-title>
                        <mat-card-content>{{ wp.symbol }}</mat-card-content>
                        <mat-card-actions
                            ><button
                                mat-raised-button
                                color="primary"
                                *ngIf="allowEdit"
                                (click)="editWaypoint(wp)"
                                style="width: 100%;"
                            >
                                Edit
                            </button></mat-card-actions
                        >
                    </mat-card>
                </agm-info-window>
            </agm-marker>
        </div>
    </div>

    <div *ngIf="useClusters">
        <agm-marker-cluster
            (clusterClick)="clusterClick()"
            minimumClusterSize="3"
            [maxZoom]="12"
            imagePath="https://raw.githubusercontent.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m"
        >
            <div *ngFor="let wp of waypointsOnMap || waypoints">
                <agm-marker
                    #marker
                    [latitude]="wp.latitude"
                    [longitude]="wp.longitude"
                    (markerClick)="openInfoWindow(infoWindowClusters)"
                    [label]="wp.name"
                >
                    <agm-info-window [disableAutoPan]="false" #infoWindowClusters>
                        <mat-card class="mat-card-info">
                            <mat-card-title>{{ wp.name }}</mat-card-title>
                            <mat-card-content>{{ wp.symbol }}</mat-card-content>
                            <mat-card-actions
                                ><button
                                    mat-raised-button
                                    color="primary"
                                    *ngIf="allowEdit"
                                    (click)="editWaypoint(wp)"
                                    style="width: 100%;"
                                >
                                    Edit
                                </button></mat-card-actions
                            >
                        </mat-card>
                    </agm-info-window>
                </agm-marker>
            </div>
        </agm-marker-cluster>
    </div>
</agm-map>
