<agm-map
    #agm
    (mapReady)="useNavionics && applyNavionics($event)"
    [latitude]="lat"
    [longitude]="lon"
    (mapRightClick)="onRightClick($event)"
    (mapClick)="handleMapClick()"
    (mapDblClick)="handleMapDblClick()"
    (zoomChange)="onZoomChanged($event)"
    [mapTypeId]="mapType"
    [usePanning]="true"
    [zoom]="zoom"
    [streetViewControl]="false"
    [minZoom]="2"
    [styles]="mapStyles"
    [gestureHandling]="'greedy'"
>
    <agm-marker
        #current
        *ngIf="currentLocation && permits?.wpEdit"
        class="current-loc-marker"
        [latitude]="currentLocation.latitude"
        [longitude]="currentLocation.longitude"
        [iconUrl]="{
            url: '../../../assets/currentloc.png',

            scaledSize: {
                width: 12,
                height: 12
            }
        }"
        ><agm-info-window #currentInfoWindow [isOpen]="true"
            ><mat-card
                ><button mat-button (click)="addCurrentLocation()">
                    Add Waypoint Here
                </button></mat-card
            ></agm-info-window
        ></agm-marker
    >
    <div *ngIf="!useClusters">
        <div *ngFor="let wp of waypointsOnMap || waypoints">
            <agm-marker
                #marker
                [markerDraggable]="permits?.wpEdit && dragMarkers"
                (dragStart)="dragStart($event, wp)"
                (dragEnd)="dragEnd($event, wp)"
                [latitude]="wp.latitude"
                [longitude]="wp.longitude"
                [label]="wp.name"
                (markerClick)="openThisWaypoint(wp)"
            >
                <agm-info-window
                    #infoWind
                    *ngIf="openInfoWindowWaypoint === wp"
                    [disableAutoPan]="false"
                >
                    <marker-info-card
                        #markerCard
                        (SaveWaypoint)="saveName($event)"
                        (StartEdit)="editWaypoint($event)"
                        [allowEdit]="permits?.wpEdit"
                        [waypoint]="wp"
                        [deviceId]="deviceId"
                    ></marker-info-card>
                </agm-info-window>
            </agm-marker>
        </div>
    </div>

    <div *ngIf="useClusters">
        <agm-marker-cluster
            (clusterClick)="clusterClick()"
            minimumClusterSize="3"
            [maxZoom]="12"
            imagePath="https://raw.githubusercontent.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m"
        >
            <div *ngFor="let wp of waypointsOnMap || waypoints">
                <agm-marker
                    #marker
                    [markerDraggable]="permits?.wpEdit && dragMarkers"
                    (dragStart)="dragStart($event, wp)"
                    (dragEnd)="dragEnd($event, wp)"
                    [latitude]="wp.latitude"
                    [longitude]="wp.longitude"
                    [label]="wp.name"
                    (markerClick)="openThisWaypoint(wp)"
                >
                    <agm-info-window
                        #infoWind
                        *ngIf="openInfoWindowWaypoint === wp"
                        [disableAutoPan]="false"
                    >
                        <marker-info-card
                            #markerCard
                            (SaveWaypoint)="saveName($event)"
                            (StartEdit)="editWaypoint($event)"
                            [allowEdit]="permits?.wpEdit"
                            [waypoint]="wp"
                            [deviceId]="deviceId"
                        ></marker-info-card>
                    </agm-info-window>
                </agm-marker>
            </div>
        </agm-marker-cluster>
    </div>
</agm-map>
